@charset "UTF-8";
/**
*	마이페이지 aside
**/
body>div.content {width:1100px; margin:auto; margin-bottom:100px;}
aside.mypage_info {width:200px; height:850px; background-color:#FBFAFA; float:left; margin:auto;margin-right:50px; }
aside.mypage_info div.admin_profile img {height:100px; width:100px; margin:20px 50px 5px 50px; border-radius:50%;}
aside.mypage_info div.admin_profile p {text-align:center; font-weight:700;}
aside.mypage_info p.am {background-color:#F87E35; font-size:17px; color:white; text-align:center; padding:8px; font-weight:400;}
aside.mypage_info span {display:block; text-indent:15px; margin-bottom:7px;}
aside.mypage_info a {text-decoration:none; color:#4F4F4F; font-size:13.5px; font-weight:400; margin-left:15px; font-weight:300;}
aside.mypage_info hr.h {color:#B4B4B4; width:90%;}
}


/**
*	주문내역
**/
table.my_order {border-collpase: collapse;width: 750px;height: 120px;}
table.my_order tr:first-child {background-color: rgb(245, 245, 245);text-indent:10px;}
table.my_order tr:first-child>td:nth-child(2) {text-align: right;padding-right: 10px;}
table.my_order tr:nth-child(2)>td:nth-child(2) span {font-size: 12px;}
table.my_order tr:nth-child(2)>td:nth-child(3), table.my_order tr:nth-child(2)>td:nth-child(4){text-align: center;}
table.my_order tr:nth-child(2) td {border: 1px solid lightgrey;}
table.my_order tr:nth-child(2) td button{background-color: rgb(255, 255, 255);border:1px solid rgb(204, 204, 204);padding: 5px 12px;}

/**
*	내 정보
**/
table.myinfo{width:700px;}
table.myinfo tr:nth-child(2) td{height:130px;}
table.myinfo tr th {text-align: left;text-indent: 10px;font-size: 20px;background-color: rgb(245, 245, 245);}
table.myinfo tr td {border: 1px solid lightgrey;text-indent: 12px;}
/**
*	즐겨찾기
**/
span.star{color: rgb(255, 200, 1);}
dl.bookmark_list img{width: 200px;heigth: 500px;}
dl.bookmark_list {border: 1px solid lightgrey;display: inline-block;background-color: rgb(248, 249, 251);}
dl.bookmark_list:hover{box-shadow:1px 1px 20px #ddd;};
/**
*	좋아하는 작가
**/
table.bookmark_writer{width:750px;}
table.bookmark_writer{border-bottom:1px solid rgb(217,217,217);}
table.bookmark_writer tr:nth-child(2) td{background-color: rgb(245, 245, 245);}
table.bookmark_writer tr td button.bookmark_button{border:1px solid rgb(255, 123, 48);background-color:rgb(255, 123, 48);color:rgb(255,255,255);margin-bottom:10px;}
table.bookmark_writer tr td button.home{background-color:white;border:1px solid rgb(204, 204, 204);padding: 0px 12px;}
table.bookmark_writer tr td button.message{background-color:white;border:1px solid rgb(204, 204, 204);padding: 5px 65px;}
}

/**
*	회원정보
**/
table.member_info {width:750px;}
table.member_info input[type='text']{width:500px;border:none;font-size:15px;height:30px;text-indent:5px;}
table.member_info td {padding: 13px 0;text-indent: 7px;border-top: 1px solid rgb(217, 217, 217);}
table.member_info td small{padding-left:10px;}
table.member_info tr:nth-child(4) td, table.member_info tr:nth-child(5) td{border:none;}
table.member_info td.alram{text-indent:12px;}
table.member_info td.grey {background-color: rgb(245, 245, 245);padding:0 10px;}
table.member_info button.change {background-color: rgb(255, 255, 255);border: 1px solid rgb(204, 204, 204);margin-left: 10px;padding: 5px 5px;}
table.member_info tr:last-child button {background-color: rgb(255, 123, 48);padding: 8px 8px;border: 1px solid rgb(255, 123, 48);color: rgb(255, 255, 255);}
table.member_info tr:last-child td {text-align:center;border:none;}
table.member_info tr:nth-child(10) td {text-align:right;}
/**
* 내가 쓴 리뷰
**/
table.review_content tr:first-child>td:first-child {width: 20px;}
table.review_content tr:first-child span.title {font-weight: bold;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 350px;}
table.review_content tr:first-child span.star {color: rgb(255, 200, 1);}
table.review_content tr:last-child td {width: 220px;}
div.border {border: 1px solid rgb(217, 217, 217);display: inline-block;}
div.caution {background-color: rgb(250, 249, 249);display: inline-block;font-size: 12px;margin-bottom:30px;height:60px;padding:10px 10px;}